<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>

    <!-- warning message -->
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><p><%= message %></p></div>
    <% } %>

    <!--Book to exchange -->
    <div class="container-fluid">
      <h1>Choose which of your books to exchange.</h1>
      <a href="<%- exchangeBook.url %>" target="_blank"><img class="bookImage" src="<%- exchangeBook.img %>"></a>
      <h5><%- exchangeBook.title %></h5>
      <h5><%- exchangeBook.author %></h5>
    </div>

    <!-- User Books --->
    <div class="container-fluid">
      <!-- add extra container element for Masonry -->
      <div class="grid">
        <div class="grid-sizer col-xs-4"></div>
        <% if (myBooks && exchangeBook) { %>
          <% for (var i=0; i< myBooks.length; i++) { %>
            <div class="grid-item col-xs-4">
              <div class="grid-item-content">
                <a href="<%- myBooks[i].url %>" target="_blank"><img class="bookImage" src="<%- myBooks[i].img %>"></a>
                <a href="/exchangeFinal/<%- myBooks[i]._id %>/<%- exchangeBook.user %>/<%- bookReceiving %>"><img class="plusImage" src="/img/exchange.png"></a>
                <h5 class="firstHeader"><%- myBooks[i].title %></h5>
                <h5 class="secondHeader"><%- myBooks[i].author %></h5>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>

    <% include partials/footer.ejs %>
  </body>

</html>
